@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                @* I have to keep this wrapper to use absolute positioning for a child elements - it requires a parent to have position different from static and row is static =\ *@
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <a href="/">
                                <h2 class="navbar-brand mainHeader__brand">
                                    Of This And That
                                </h2>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-5 mainHeader__navList__wrapper">
                            <ul class="nav navbar-nav mainHeader__navList">
                                <li>About</li>
                                <li>Blog</li>
                                <li>Stuff</li>
                                @Html.Partial("/Views/Navigation/_EditorMenu.cshtml")
                            </ul>
                            
                        </div>
                        @*<div class="col-xs-12 col-sm-1 mainHeader__navList__wrapper">
                            @Html.Partial("/Views/Navigation/_EditorMenu.cshtml")
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/app");
    
    @RenderSection("scripts", required: false)
</body>
</html>